.navi li{ list-style: none;
display: flex; }
.navi a{ color: white;margin: 10px;text-decoration: none; }
.navi{background-color: crimson;padding: 15px; text-align: center; font-size: larger; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-style: oblique; }
body{margin: 0px;padding: 0%;}
.hero{background-image: url(download\ \(31\).jpeg);
image-rendering: auto; background-repeat: no-repeat; background-size: cover; height: fit-content; background-position: center; height: 100vh;}