.navi li{ list-style: none;
display: flex;
justify-content: end;}
.navi li, a{ color: rgb(47, 34, 16);text-align: right;margin: 10px;text-decoration: none; justify-content:end; }
.navi{background-color: rgb(255, 243, 197);padding-left: 15px;padding-right: 15px;  font-size: larger; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-style: oblique;align-items: center; 
    z-index: 999; display: flex; }
    .navi img{object-fit: contain;width: 100px; min-height: 100px; margin-right: auto; 
}


body{margin: 0px;padding: 0%;
background-color: rgb(223, 251, 255);}


.hero{background-image: url(download\ \(31\)\ -\ Copy.jpeg); margin: 0%;
    padding: 0%; image-rendering: auto; background-repeat: no-repeat; background-size: cover;
    max-height: 1000px; background-position: center; height: 100vh; border: top 5px;
    border-top-color:rgb(0, 0, 0) ; border-style: solid; align-items: center; justify-content: center;
    display: flex;
    flex-direction: column;}
.hero h1{font-size: 75px;
color: rgb(47, 34, 16);
margin: 0px;padding:0%;}
.hero h3{font-size: 35px;
color: rgb(47, 34, 16);
margin: 20px;padding:0%;}

.hero button{border-radius: 10px;font-size: 22px;background-color:rgb(255, 255, 255); margin: 40px;}
.hero button,a{color: rgb(5, 5, 5); font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
.explore h1{font-size: 60px;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color:rgb(47, 34, 16) ;text-align: center;}

.products{
    display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2px;
}

.products p{font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
            color:rgb(47, 34, 16);
            font-size: 25px; }
#bottle{overflow: hidden;
       width: 100%;
       display: flex;
}
img{  width: 100%;
    height: auto;
    display: block;
  ;
margin: 0%;}
.products img:hover {
  animation: zoom 0.3s ease forwards;
}

@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
p{font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
            color:rgb(75, 45, 0);
            font-size: 25px; margin: 10px;}
.h1{font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
            color:rgb(78, 49, 7);
            font-size: 45px;}

.about h2{font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
            color:rgb(47, 34, 16);
            font-size: 35px;}
.about{grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  display:grid;}
div, h1{animation:animated 0.5s ease forwards;
  animation-timeline: view();
  animation-range: entry 1% cover 25%;
}
.image{background-color:rgb(255, 243, 197); overflow: hidden;padding: 10px; ;}



@keyframes animated{
  from{transform:translateX(-100px);
    opacity: 0.1;
    scale: 0.99;
  }
  to{transform:translateX(0px);
  opacity: 1;
scale: 1;}
}
